@model Cars.Web.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("GetCars", "Home"))
    { 
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.EditorFor(x => x.OwnerId, new { htmlAttributes = new { @class = "input form-control col-md-3", placeholder = "Enter owner's id..." } })
            <button type="submit" class="btn col-md-1"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
    }
</div>